@using Mvc_Cv_Project.Models.Entity
@model List<TblHakkimda>
<link href="~/light-bootstrap-dashboard-master/assets/css/bootstrap-responsive.min.css" rel="stylesheet" />

<div class="container-fluid bg-light my-5 py-6" id="iletisim">
    <div class="container-xxl pb-5" id="contact">
        <div class="container py-5">
            <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-6">



                </div>
            </div>
            <div class="row g-5">


                <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h2 class="mb-2">İletişim Bilgilerim📩</h2>

                    <hr class="w-100">
                    <p class="mb-2">Telefon Numaram:</p>
                    <h3 class="fw-bold">0542 630 1917</h3>
                    <hr class="w-100">
                    <p class="mb-2">Mail Adresim:</p>
                    <h3 class="fw-bold">samettznerr@gmail.com</h3>
                    <hr class="w-100">
                    <p class="mb-2">Sosyal Medya Hesaplarım:</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-primary me-2" href="https://github.com/samettznerr" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                        <a class="btn btn-square btn-primary me-2" href="https://wa.me/+905426301917" target="_blank"><i class="fab fa-whatsapp fa-2x"></i></a>
                        <a class="btn btn-square btn-primary me-2" href="https://tr.linkedin.com/in/samet-t%C3%BCz%C3%BCner-848915189?original_referer=https%3A%2F%2Fwww.google.com%2F" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                  
                </div>
                </div>

                <div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <h2>Bana Ulaşın📞</h2>
                    <br />
                    <form method="post">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="AdSoyad" placeholder="İsminiz">
                                    <label for="name">İsminiz</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" name="Mail" placeholder="E-Mail Adresiniz">
                                    <label for="email">E-Mail Adresiniz</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="Konu" placeholder="Konu">
                                    <label for="subject">Konu</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Mesajınızı Buraya Yazınız" name="Mesaj" style="height: 100px"></textarea>
                                    <label for="message">Mesajınızı Buraya Yazınız</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary py-3 px-5" type="submit">Mesaj Gönder <i class="fas fa-paper-plane"></i></button>




                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>
