@using Mvc_Cv_Project.Models.Entity
@model List<TblYetenekler>
@{
    ViewBag.Title = "YeniYetenek";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Yeni Yetenek Ekleme Sayfası</h3>
<br />
<form method="post">
    <div class="row">

        <br />
        <div class="col-md-12">
            <div class="form-group">
                <label>Yetenek</label>
                <input type="text" class="form-control" placeholder="Yetenek Adı Giriniz" name="Yetenek">
            </div>
        </div>
        
        <div class="col-md-12">
            <div class="form-group">
                <label>Değer</label>
                <input type="number" class="form-control" placeholder="Yetenek Değeri Giriniz" name="Oran">
            </div>
    </div>
    <br />
    <button class="btn btn-success">Kaydet</button>
</form>

